// _variables.scss

// Colores
$color-primario: #007bff;
$color-secundario: #adadad;
$color-primary:#9B824C ;
$primary-hover-color: #756d10;
$color-white: #fff;
$color-grey-light-1: #eee;
$color-grey-light-4: #f1f1f1;

// Tamaños de fuente
$tamanio-titulo: 24px;
$tamanio-subtitulo: 18px;

// Márgenes y espaciados
$espaciado-pequeno: 10px;
$espaciado-grande: 20px;

//Detalles
$box-shadow-medium: 0 1rem 2rem rgba(0,0,0,0.1);
$small-border-bottom: 1px solid #000;
