.search-container {
    @include search-container;
}

.search-input,
.date-picker,
.bedroom-selector {
    margin-right: 10px;
}

input[type="date"] {
    width: 150px;
}

@media screen and (max-width: 600px) {
    .dslider {
        flex-wrap: wrap; 
    }

    .dslider img {
        margin-bottom: 10px; 
    }
}