.navbar-logo {
    max-width: 80px; 
    margin-left: 15px; 
}


.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    margin-right: 25px; 
}


.navbar {
    height: 50px; 
    font-size: 120%;

    @include mobile{
       
        z-index: 9999;
        background-color: $color-white;
    }
    @include tablet{
    
        z-index: 9999;
        background-color: $color-white;
    }
}