.hero {
    background-image: url('../assets/prefooter.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  
  .hero h1 {
    color: $color-white;
    font-size: 3em;
    margin-bottom: 20px;
  }
  .hero p {
    color: $color-white;
    font-size: 1em;

  }
  
 .explore-btn {
    @include explore-button;
}